<!DOCTYPE html>
<html lang="en"
      data-theme="light"
      data-font-size="medium">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <meta
        name="description"
        content="Kolorly - Improve your color perception by matching colors accurately.">

    <title>

        {% block title %}
        Kolorly
        {% endblock %}

    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="app-shell">

        <header class="app-header">

            <div class="header-container">

                <a
                    href="{{ url_for('home') }}"
                    class="brand">

                    Kolorly

                </a>



            </div>

        </header>

        <main class="page-container">

            {% block content %}
            {% endblock %}

        </main>

    </div>

    {% block scripts %}
    {% endblock %}

    <script
        src="{{ url_for('static', filename='js/app.js') }}">
    </script>

</body>

</html>
